language: cpp
install:
    - sudo apt-get install libwxgtk3.0-dev libwxgtk3.0-0 libgps-dev libglu1-mesa-dev libgtk2.0-dev libbz2-dev libtinyxml-dev 
    - sudo apt-get install libportaudio2 portaudio19-dev libcurl4-openssl-dev libexpat1-dev libcairo2-dev
script:
    - mkdir build && cd build
    - cmake -DCMAKE_BUILD_TYPE=Debug ../
    - make -s

notifications:
    email: false
    
git:
    depth: 10

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "pje0YVgQOgeQi9lNWN+S1rTVcStL4z09piLYJKYibxGm8kVgJNm8z0/5rbyBVo0gVwRB/sNJGKEcMw5LJk1TLQ1P+tNO4Psg+XTcDYKEi52GYjzEEBjX4cOp36owU4sJG8zBxzgthG8b/Hhf+GDWDWs262uP+dwfaR477/gaArerEkuDSlvcjpAiB4bT4b8992sEZabaZkfBpj8dIP9G74MgAMOJ4Y86Jw7XJWkoWHLmCjKgPfPi04EC4dYAKi0nBH6DKh/uObkZQsGRECoecSfeVHatolfVlF9gJ2xvcZIclVA3d2xdUqflsuGeXCru9TDd5ygDwD9TSpayJTQ4Awzdelq1Aezx7+GoCgc6K8KyMNpb+wiD0HQDUHz3Wj22qhu/AT1ojxUO4vaC0x8lGdGbNa5WOg0MUw+X1BUdSqYXxIBXTUn10ZFrZJb6b5zZpt5FB4FLsoSo9CAiQsZYMT/26EjoOjvol1ry6Or5Rula0CALF/KRfY/YZkse8ariAmTllxWFKbbT4Miwt43PcKXkgjNEwtWKHMv4stiJko23NDGuJ1yQnHcbzCRv0ChWmUSVn8HS/JFZMvCwGrUBlp4ZhDdFy5lrppv0g1ZTvyCo7S9l1ln5Jf+yOFjg6C73tqtROQWBGws9BdYW9ZZukiVy+f6a/Ytl14/1G7gM9ic="

before_install:
      - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

addons:
  coverity_scan:
    project:
      name: "did-g/OpenCPN"
      description: "Build submitted via Travis CI"
    notification_email: didier@users.sourceforge.net
    build_command_prepend: "mkdir build_s && cd build_s && cmake -DCMAKE_BUILD_TYPE=Debug ../"
    build_command:   "make -s"
    branch_pattern: integration
